.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    height: 32px;
    width: auto;
    padding-right: 10px;
}

.centrum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1f1f1f9d;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    color: #ff6961;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #ff6961;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}

a + a {
    margin-left: 10px;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.356);
}

.weather {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding: 30px;
    margin: 20px;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    color: #fff;
    height: 72vh;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000009a;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    color: #fff;
    height: 74.5vh;
}

.weather-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000009a;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    color: #fff;
    height: 74.5vh;
}

.wmap {
    border: 0;
    border-radius: 5px;
}

.temp {
    font-size: 64px;
    font-weight: 700;
    margin-top: -5px;
    margin-bottom: -10px;
}

.city {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -5px;
}

.desc { 
    font-size: 20px;
    font-weight: 300;
}

.main-table {
    font-weight: 300;
    width: 60%;
    text-align: left;
}

.weather-icon {
    margin-left: -15px;
    height: 100px;
    width: max-content;
}

button {
    background-color: #ff6961;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.citydata {
    padding: 10px;
    border-radius: 25px;
    background-color: #00000000;
    border: 0;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
}

.citydata:focus {
    outline: #fff;
    outline-width: 2px;
}

.dummy {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.weatherup {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.airquality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.aq-city {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -10px;
}

.aq-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: -10px;
}

.aq-date {
    font-size: 20px;
    font-weight: 300;
}

.aq-table {
    font-weight: 300;
    width: 60%;
    text-align: center;
}

.resync {
    background-color: rgba(56, 56, 56, 0.829);
    margin-left: 10px;
}

body {
    background-image: url(../img/background.jpg);
}
